<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivintsolar.SmartStudio">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="id=188768208820-55ge4clim5bf33hdd21rt19imhcpcfdo.apps.googleusercontent.com" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".GUI.TeleprompterActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.ModePickerActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GUI.AddClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="smartstudio.vivintsolar.com"
                    android:mimeType="text/plain"
                    android:pathPrefix="/script/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.BarcodeCaptureActivity" />
        <activity
            android:name=".GUI.ClientAddress"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GUI.TallyOnlyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tally_only"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".GUI.MainControlActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".GUI.TeleprompterWaitActivity" />
        <activity android:name=".GUI.NoWifiActivity"></activity>
        <receiver android:name="com.vivintsolar.SmartStudio.Comm.WifiStateReciever" >
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>